header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

.imagem {
    width: 185px;
    height: 120px;
    float: right;
}

body {
    margin: 0px;
    margin-bottom: 0px;
}

.bordaVerde {
    background-color: #005C6E;
    border-color: #005C6E;
    height: 40px;
}

.gridContainer {
    display: flex;
    justify-content: space-between;
}
.gridContainer2 {
    float: right;
    display: flex;
    justify-content: space-between;
}
.retangulo {
    margin-top: 50px;
    width: 999px;
    height: 370px;
    background-color: #D9D9D9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.retangulo2 {
    margin-top: 50px;
    width: 999px;
    height: 370px;
    background-color: #D9D9D9;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-top: 50px;
} 
.retangulo3 {
    margin-top: 60px;
    width: 1300px;
    height: 450px;
    background-color: #D9D9D9;
    border-radius: 40px;
}
.wrapper {
        display: flex;
        justify-content: flex-end;
}
.quadrado {
    margin-top: 50px;
    width: 400px;
    height: 370px;
    background-color: #D9D9D9;
    border-radius: 40px;
}

.retangulo3 {
    margin-top: 50px;
    width: 1300px;
    height: 450px;
    background-color: #D9D9D9;
    border-radius: 40px;
}

.Titulo {
    padding: 50px;
    padding-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22pt;
}
 .Subtitulo {
    padding-top: 0;
    padding-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 19pt;
} 

 .Texto {
    margin: 50px;
    font-size: 18pt;
}

.TextoLista {
    margin: 0px;
    font-size: 18pt;
}

.retangulo ul {
    padding-left: 100px;
}

.retangulo2 ul {
    padding-left: 100px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-image {
    max-width: 8%;
  }
.imagem-texto {
    text-align: center;
    margin: 10px;
}
.imagem-texto img {
    width: 120px;
    max-width: 100%;
}
.imagem-texto p {
    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
}

.quadrado img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinhaMeio {
    display: flex;
    justify-content: center;
    align-items: center;
}