{% extends 'base.html' %}

{% block title %} Artefatos {% endblock %}
{% block content %}

    <main>
        <hr class="bordaVerde" style="margin-top: -10px;">

        <span class="gridContainer">
            <div class="quadrado" style=" margin-left: auto; margin-right: auto;">
            <img src="{{ url_for('static', filename='IMG/artefato png.png')}}" alt="ArtefatosPng" style="margin-top: 8%; margin-left: 17%;">
            <p class="Titulo" style=" padding: 0; margin-left: 15%; font-size: 25pt; margin-top: 12px;">
                Artefatos do Scrum
            </p>
            </div>
        </span>

        <span class="gridContainer">
            <div class="retangulo3" style="margin-left: auto; margin-right: auto">
                <p class="Titulo" style=" text-align: center; align-items: center; justify-content: center; margin-top: 0;">
                    Product Backlog
                </p>
                <p class="Texto">
                    O Product Backlog é uma lista priorizada de todas as funcionalidades, requisitos, melhorias e itens de trabalho que representam o escopo do produto. Esses itens são descritos de forma sucinta e geralmente são escritos na forma de histórias de usuário, embora possam variar em seu nível de detalhamento.
                    O Product Backlog é uma ferramenta essencial para garantir que a equipe de desenvolvimento esteja focada em entregar o máximo valor possível ao cliente e ao negócio, à medida que o produto evolui ao longo do tempo. Ele desempenha um papel crítico na gestão ágil do escopo do projeto e na adaptação contínua às necessidades do cliente.
                </p>
            </div>
        </span>

        <span class="gridContainer">
            <div class="retangulo" style="width: 47%;">
                <p class="Titulo" style=" margin-top: 0px; text-align: center;">
                    Sprint Backlog
                </p>
                <p class="Texto">
                    O Sprint Backlog é uma lista de tarefas ou itens de trabalho específicos que a equipe de desenvolvimento seleciona do Product Backlog para serem concluídos durante uma Sprint específica.
                    Os itens do Sprint Backlog são detalhados o suficiente para que a equipe de desenvolvimento saiba exatamente o que fazer para completá-los. Isso pode incluir quebrar os itens em tarefas menores, criar designs ou especificações mais detalhadas, ou qualquer outra informação necessária para realizar o trabalho.                    
                </p>
            </div>
            <div class="retangulo2" style="width: 47%; margin-bottom: 50px;">
                <p class="Titulo" style="margin-top: 0px; text-align: center;">
                    Incremento
                </p>
                <p class="Texto">
                    Um incremento é um produto potencialmente entregável, ou seja, uma versão funcional do produto que foi enriquecida ou aprimorada ao longo de uma Sprint. A equipe de desenvolvimento trabalha para adicionar funcionalidades, melhorias ou correções ao produto, e essas mudanças são refletidas no incremento.
                </p>
            </div>
        </span>
    </main>
{% endblock %}