<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Imagens/TS.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    {% block tittle %} {% endblock %}
</head>

<body>
    <header>

        <div class="row">
            <div class="col-md-12 ">
                <div class="dropdown-center custom-dropdown dropdown-menu-right "
                    style="left: 45.3%;margin-top: 19px; position: absolute;">
                    <button class="btn btn-secondary dropdown-toggle custom-button " type="button"
                        data-bs-toggle="dropdown" aria-expanded="true"
                        style="width: 85px; height: 50px; border-radius: 50px; left: 50%; position: relative; background-color: rgb(255, 255, 255); border: none;">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/metodologia_agil" style="color: cornflowerblue;">Metodologia Ágil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <h5 style="margin-left: 10.6%;color: #005C6E;">Papéis Scrum</h5>
                        <li><a class="dropdown-item" href="/master">Scrum Master</a></li>
                        <li><a class="dropdown-item" href="/productowner">Product Owner</a></li>
                        <li><a class="dropdown-item" href="/dev">Developer Team</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <h5 style="margin-left: 8%;color: #005C6E; ">Técnicas Scrum</h5>
                        <li><a class="dropdown-item" href="/artefatos">Artefatos</a></li>
                        <li><a class="dropdown-item" href="/beneficios">Benefícios</a></li>
                        <li><a class="dropdown-item" href="/cerimonias">Cerimônias</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/formulário" style="color: #FC5159;">Autoavaliação</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <a href="/" style="position: absolute">
            <img src="{{ url_for('static', filename='IMG/FatecScrum.png')}}" alt="cps" class="imagem"
                style="width: 235px; height: 75px; left: 1; position: absolute; margin-top: -40px;">
        </a>
        <img src="{{ url_for('static', filename='IMG/cps.png')}}" alt="cps" class="imagem cps"
            style="width: 130px; height: 100px;">
    </header>
    {% block content %}

    {% endblock %}

</body>

</html>