{% extends 'baserodape.html' %}

{% block title %} Dev Team {% endblock %}
{% block content %}


<main>
    {% if cargo == 'Dev Team' %}
          <!-- Modal -->
  <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Time de Desenvolvimento</h1>
        </div>
        <div class="modal-body">
          Com base nos seus resultados, você tem potencial para fazer parte da equipe de desenvolvimento!
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('alternar_cargo_dev') }}"><button type="button" class="btn btn-secondary">Fechar</button></a>
        </div>
      </div>
    </div>
  </div>
    {% endif %}

    <hr class="bordaVerde" style="margin-top: -10px;">




     <span class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card card-custom" style="background-color: #085c6c !important;">
                   
                    
                    <div class="card-body">
                        
                    <div style="margin-left: 5%;">
                        <img src="{{ url_for('static', filename='IMG/DevTeamRodape.png')}}"
                        style="width: auto; height: auto;">
                    <p class="Titulo titulocargo" style=" margin-bottom: 30px; ">
                        Time de Desenvolvimento
                    </p>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color:#085c6c !important;">
                            <h5 class="card-title Titulo"> O que é o Time de desenvolvimento</h5>
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                        <p class="Titulo" style="color: black !important;">
                            O que é o Time de desenvolvimento
                        </p>
                        <p class="Texto"style="color: black !important;">
                            Na metodologia Scrum, o Time de Desenvolvimento é um dos três papéis essenciais dentro de uma equipe Scrum.
                            O Time de Desenvolvimento é composto por profissionais que são responsáveis pela criação do incremento do
                            produto durante o desenvolvimento de um projeto Scrum.
                        </p>
                        <p class="Texto"style="color: black !important;">
                            Tamanho Adequado: O tamanho ideal de um Time de Desenvolvimento pode variar, mas é geralmente recomendado
                            que varie de 3 a 9 membros. Ter um tamanho de equipe gerenciável facilita a comunicação e a colaboração
                            eficazes.
                        </p>
                        <p class="Texto"style="color: black !important;">
                            Auto-Organização: O Time de Desenvolvimento é autogerenciado e tem a autoridade para determinar como
                            planejar e executar o trabalho necessário para atingir os objetivos da Sprint. Eles não são gerenciados por
                            um líder ou gerente externo.
                        </p>
                          </div>
                        </div>
                      </div>
                    </div>
              
                    
                      
                    </div>
                    </div>
                  </div>
            </div>
        </div>
    </span>


    <hr style="color: #181444; margin-top: 50px;">



    <span class="container" >
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="card card-custom" >
                    <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="card-body">
                      <h5 class="card-title Titulo">Qual a função do Time de Desenvolvimento</h5>
                      
                        <div class="accordion" id="accordionPanelsStayOpenExample" style="width: auto;">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Desenvolver Incrementos do Produto
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                            <div class="accordion-body">
                                A função principal do Time de Desenvolvimento é criar incrementos do produto de alta qualidade.
                                Eles trabalham para transformar os itens do backlog do produto em funcionalidades ou
                                características prontas para serem entregues ao cliente.
                                
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Compromisso com a Sprint
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                A equipe se compromete a entregar todos os itens do backlog da Sprint que eles selecionaram
                                durante o planejamento da Sprint. Eles são responsáveis por cumprir esse compromisso e entregar
                                um incremento de produto potencialmente entregável.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Testes e Garantia de Qualidade
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                A equipe é responsável por garantir a qualidade do produto, incluindo testes unitários, testes
                                de integração e outros tipos de teste necessários. Eles também podem trabalhar com especialistas
                                em qualidade (QA) para garantir a qualidade do produto.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                Melhoria Contínua
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                              <div class="accordion-body">
                                O Time de Desenvolvimento realiza retrospectivas após cada Sprint para revisar o desempenho,
                                identificar oportunidades de melhoria e ajustar seus processos e práticas conforme necessário.
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                   
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>

</main>

{% endblock %}