{% extends 'base.html' %}

{% block title %} Formulário {% endblock %}
{% block content %}

    <main>
        <hr class="bordaVerde" style="margin-top: -4px;">
        <span class="gridContainer">
            
            <div class="quadradorosa" style="width: 21%; height: 60px; margin-left: 9%;">
                <p class="Letra do Titul0 do Autoformulario" style=" margin-top: 1%; margin-left: 7%; font-size: 35pt; color: white; font-style: italic; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">
                    Autoavaliação Scrum
                </p>
            </div>
            <div style=" float: left;">
                <img src="{{ url_for('static', filename='IMG/autoavaliaçãopng.png')}}" alt="Formulario" style="width: 60%; margin-left: 35%; z-index: 1;">
            </div>
        </span>
        <span class="container" style="z-index: 5; position: absolute; margin-top: -18%;">
            <div class="retangulo" style="margin-top: -20%; height: 400px;">
                <p class="Texto" style="font-size: 21pt;">
                    Este questionário consiste em uma série de perguntas que abrangem os princípios e práticas do Scrum. Ao responder a essas perguntas com sinceridade, você terá uma visão mais clara do desempenho da sua equipe em áreas como comunicação, colaboração, transparência e entrega de valor.
                    A autoavaliação do Scrum é um passo importante em direção ao aperfeiçoamento contínuo. Lembre-se de que não há respostas "certas" ou "erradas" aqui. O objetivo é entender onde você está hoje e definir metas para evoluir ainda mais como equipe Scrum.
                </p>
            </div>
        </span>

        <hr>

        <img src="{{ url_for('static', filename='IMG/setaformulario.png')}}" alt="setaformulario" class="alinhaMeio" style="margin-top: 4%;">
        <p class="alinhaMeio" style=" font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20pt;
         margin-top: 4%;
         font-style:italic;
         text-decoration: underline ;">

        <b>Avalie você mesmo em cada categoria, onde 1 é a nota mais baixa e 4 a mais alta.</b>
        </p>
        <ul style="margin-left: 42%;;">
            <li> <p class="TextoSublinhado"><b>1 = Precisa de Melhoria</b></p></li>
            <li> <p class="TextoSublinhado"><b>2 = Abaixo das Expectativas</b></p></li>
            <li> <p class="TextoSublinhado"><b>3 = Atende às Expectativas</b></p></li>
            <li> <p class="TextoSublinhado"><b>4 = Excelente</p></li>
        </ul>
    </main>
{% endblock %}