{% extends 'baserodape.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<main>
    <img src="{{ url_for('static', filename='IMG/SCRUM.png')}}" alt="cps"
        style="height: auto; width: 100%; padding-bottom: 0px;">

    <hr class="bordaVerde" style="margin-top: -4px;">

    <span class="gridContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom" >
                    <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ url_for('static', filename='IMG/processo.png')}}" class="card-img-top" alt="..." style="width: 25%; margin: 8px;">
                    
                    <div class="card-body">
                      <h5 class="card-title Titulo">O que é o Método Ágil</h5>
                      <p class="card-text Texto" >A metodologia ágil é uma abordagem flexível e colaborativa para gerenciar projetos e equipes. Ela se
                        concentra na adaptação contínua, na entrega de valor ao cliente e na comunicação eficaz.</p>
                      <a href="/metodologia_agil" class="btn btn-primary">Ir para a página</a>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
    </span>

    <hr style="color: #181444; margin-top: 50px; height: 50px ;">

    <span class="gridContainer">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card card-custom" >
                    <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="card-body">
                      <h5 class="card-title Titulo">O que é o Scrum</h5>
                      <p class="card-text Texto">O Scrum é uma metodologia ágil amplamente utilizada no contexto da organização de processos em empresas de desenvolvimento de software. Ele é projetado para facilitar a entrega eficiente de projetos, promover a colaboração da equipe e permitir a adaptação contínua aos requisitos do cliente.</p>
                      
                    </div>
                    <img src="{{ url_for('static', filename='IMG/dip.png')}}" class="card-img-top" alt="..." style="width: 25%; margin: 8px;">
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>
    
    <hr style="color: #181444; margin-top: 50px;">

    <span class="container" >
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-11">
                <div class="card card-custom" >
                    <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="card-body">
                      <h5 class="card-title Titulo">O que é o Scrum</h5>
                      
                        <div class="accordion" id="accordionPanelsStayOpenExample" style="width: auto;">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Product Owner (Dono do Produto)
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                            <div class="accordion-body">
                              O <strong>Product Owner</strong> é responsável por maximizar o valor do produto resultante do trabalho do Time
                              Scrum. A forma como isso é feito pode variar amplamente entre organizações, equipes Scrum e
                              indivíduos.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Scrum Master (Mestre Scrum)
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              O <strong>Scrum Master</strong> é responsável por garantir que a equipe Scrum siga os princípios e processos do
                              Scrum. Eles ajudam a remover obstáculos e facilitam as reuniões do Scrum.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Time de Desenvolvimento (Development Team)
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              Este é o grupo de pessoas que realiza o trabalho real de desenvolvimento.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <img src="{{ url_for('static', filename='IMG/team.png')}}" class="card-img-top" alt="..." style="width: 25%; margin: 8px;">
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>

    
</main>
{% endblock %}