{% extends 'baserodape.html' %}

{% block title %} Home {% endblock %}
{% block content %}
    <main>
        <img src="{{ url_for('static', filename='IMG/SCRUM.png')}}" alt="cps" style="height: 700px; width: 100%; padding-bottom: 0px;">

        <hr class="bordaVerde" style="margin-top: -4px;">

        <span class="gridContainer">
            <div class="retangulo">
                <p class="Titulo">
                    O que é o Método Ágil
                </p>
                <p class="Texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, necessitatibus. Maxime facilis porro ut harum eum quibusdam architecto vel quos nostrum? Cum quo debitis blanditiis! Accusamus modi quasi exercitationem fugiat!
                </p>
            </div>
            <div class="quadrado" style="margin-right: 75px; text-align: center;">
                <img src="{{ url_for('static', filename='IMG/processo.png')}}"" alt="Img 2 Home" style="width: 330px; margin-top: 22px;">
            </div>
        </span>

        <hr style="color: #D9D9D9; margin-top: 50px;">

        <span class="gridContainer">
            <div class="quadrado" style="margin-top: 50px; margin-left: 75px;">
                <img src="{{ url_for('static', filename='IMG/dip.png')}}" alt="Setas do Scrum" style="margin-top: 25px; margin-left: 50px;">
            </div>
            <div class="retangulo2">
                <p class="Titulo">
                    O que é o Scrum
                </p>
                <p class="Texto">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, sit consectetur sunt tempore recusandae cum quasi earum sint dignissimos autem similique doloribus quod minima cupiditate asperiores odio ullam numquam qui.
                </p>
            </div>
        </span>

        <hr style="color: #D9D9D9; margin-top: 50px;">

        <span class="gridContainer" style="margin-bottom: 50px;">
            <div class="retangulo" style="height: 800px;">
                <p class="Titulo">
                    Papéis no Scrum
                </p>
                <ul>
                    <li>
                        <p class="Subtitulo">
                            Product Owner (Dono do Produto):
                        </p>
                        <p class="TextoLista">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur optio quibusdam eos incidunt excepturi deserunt repellat earum rem in repudiandae sed a vero, ducimus natus exercitationem et? Doloribus, odit molestias!
                        </p>
                    </li>
                    <li>
                        <p class="Subtitulo">
                            Scrum Master (Mestre Scrum):
                        </p>
                        <p class="TextoLista">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi asperiores, repellat vitae illum error eaque repudiandae aperiam unde quo, odio minima quos quae reprehenderit facere iste consequatur. Commodi, error rem!
                        </p>
                    </li>
                    <li>
                        <p class="Subtitulo">
                            Time de Desenvolvimento (Development Team):
                        </p>
                        <p class="TextoLista">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo eius perspiciatis assumenda molestias praesentium aperiam beatae? Sit molestias commodi amet magnam reiciendis non cupiditate tempore ipsam error. Repudiandae, maxime ab.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="quadrado" style="margin-top: 260px; margin-right: 75px;">
                <img src="{{ url_for('static', filename='IMG/team.png')}}" alt="Img 3 Home" style="width: 330px; margin-top: 22px; margin-left: 33px;">
            </div>
        </span>
    </main>
{% endblock %}