{% extends 'baserodape.html' %}

{% block title %} Scrum Master {% endblock %}
{% block content %}

<main>
    {% if cargo == 'Scrum Master' %}
          <!-- Modal -->
  <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Scrum Master</h1>
        </div>
        <div class="modal-body">
          Com base nos seus resultados, você tem potencial para ser o Scrum Master da sua equipe!
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('alternar_cargo_master') }}"><button type="button" class="btn btn-secondary">Fechar</button></a>
        </div>
      </div>
    </div>
  </div>
    {% endif %}

    <hr class="bordaVerde" style="margin-top: -10px;">

    <span class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card card-custom" style="background-color: #085c6c !important;">
                   
                    
                    <div class="card-body">
                        
                    <div style="margin-left: 5%;">
                        <img src="{{ url_for('static', filename='IMG/Scrum Master Rodapé.png')}}"
                        style="width: auto; height: auto;">
                    <p class="Titulo titulocargo" style=" margin-bottom: 30px; ">
                        Scrum Master
                    </p>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color:#085c6c !important;">
                            <h5 class="card-title Titulo"> O que é um Scrum Master</h5>
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                          <p class="card-text Texto" style="color: black !important;" > Um <strong>Scrum Master</strong> é um dos três principais papéis no framework Scrum, que é uma metodologia ágil amplamente
                            utilizada para o desenvolvimento de projetos, principalmente na área de software, mas também aplicável a
                            outras áreas. O Scrum Master desempenha um papel fundamental na facilitação e na garantia de que a equipe
                            Scrum siga os princípios e práticas do Scrum de forma eficaz. O principal objetivo do Scrum Master é ajudar
                            a equipe a alcançar a maior produtividade e eficiência possível.
                          </p>
                          </div>
                        </div>
                      </div>
                    </div>
              
                    
                      
                    </div>
                    </div>
                  </div>
            </div>
        </div>
    </span>


    <hr style="color: #181444; margin-top: 50px;">

    <span class="container" >
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="card card-custom" >
                    <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="card-body">
                      <h5 class="card-title Titulo">Qual a Função do Scrum Master</h5>
                      
                        <div class="accordion" id="accordionPanelsStayOpenExample" style="width: auto;">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Facilitador do Processo
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                            <div class="accordion-body">
                                
                                    O Scrum Master facilita reuniões, como o Planejamento da Sprint, a Revisão da Sprint e a
                                    Retrospectiva da Sprint, garantindo que elas sejam eficazes e produtivas. Ele ajuda a equipe a
                                    adotar as práticas do Scrum e a compreender o valor da transparência, inspeção e adaptação.
                                
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Remover Obstáculos
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Quando a equipe enfrenta obstáculos, sejam eles de natureza técnica ou organizacional, o Scrum
                                Master age como um defensor. Ele trabalha para eliminá-los ou ajuda a equipe a encontrar
                                maneiras de contorná-los, permitindo que o trabalho prossiga sem interrupções.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Avaliar e Melhorar
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                O Scrum Master promove um ambiente de trabalho colaborativo e produtivo. Ele ajuda a equipe a
                                resolver conflitos, aprimora a comunicação e incentiva a autogestão. Isso cria um ambiente no
                                qual a equipe pode se concentrar na entrega de valor ao cliente.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>


</main>

{% endblock %}