{% extends 'baserodape.html' %}

{% block title %} Scrum Master {% endblock %}
{% block content %}

    <main>
        <hr class="bordaVerde" style="margin-top: -10px;">
            <div class="retangulo" style="width: 40%;">
                <img src="{{ url_for('static', filename='IMG/Scrum Master Rodapé.png')}}" style="width: 30%; margin-top: 1%; margin-left: 30%;">
                <p class="Titulo" style="padding-left: 33%; ">
                    Scrum Master
                </p>
            </div>
            <div class="retangulo" style="height: 365px; width: 75%;">
                <p class="Titulo">
                    O que é um Scrum Master
                </p>
                <p class="Texto">
                    Um Scrum Master é um dos três principais papéis no framework Scrum, que é uma metodologia ágil amplamente utilizada para o desenvolvimento de projetos, principalmente na área de software, mas também aplicável a outras áreas. O Scrum Master desempenha um papel fundamental na facilitação e na garantia de que a equipe Scrum siga os princípios e práticas do Scrum de forma eficaz. O principal objetivo do Scrum Master é ajudar a equipe a alcançar a maior produtividade e eficiência possível.
                </p>
            </div>

        <hr style="color: #D9D9D9; margin-top: 50px;">

        <div class="wrapper">
            <div class="retangulo2" style="width: 75%; height: 800px;">
                <p class="Titulo">
                    Qual a Função do Scrum Master
                </p>
                <ul>
                    <li>
                        <p class="Subtitulo">
                            Facilitador do Processo:
                        </p>
                        <p class="TextoLista">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur optio quibusdam eos incidunt excepturi deserunt repellat earum rem in repudiandae sed a vero, ducimus natus exercitationem et? Doloribus, odit molestias!
                        </p>
                    </li>
                    <li>
                        <p class="Subtitulo">
                            Remover Obstáculos:
                        </p>
                        <p class="TextoLista">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi asperiores, repellat vitae illum error eaque repudiandae aperiam unde quo, odio minima quos quae reprehenderit facere iste consequatur. Commodi, error rem!
                        </p>
                    </li>
                    <li>
                        <p class="Subtitulo">
                            Avaliar e Melhorar:
                        </p>
                        <p class="TextoLista">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo eius perspiciatis assumenda molestias praesentium aperiam beatae? Sit molestias commodi amet magnam reiciendis non cupiditate tempore ipsam error. Repudiandae, maxime ab.
                        </p>
                    </li>
                 </ul>
            </div>
        </div>
    </main>

{% endblock %}