{% extends 'base.html' %}

{% block title %} Metodologia Agil {% endblock %}
{% block content %}

<main>

    <hr class="bordaVerde" style="margin-top: -10px; margin-bottom: 0px;">
    <img src="{{ url_for('static', filename='IMG/agil.png')}}" alt="cps"
        style="height: auto; width: 100%; margin-bottom: 0px;">
    <hr class="bordaVerde" style="margin-top: 0px;">

    <span class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-11">
                <div class="card card-custom" style="background-color: #3c83bc !important;">
                    <div class="d-flex justify-content-center align-items-center">
                    
                    
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #3c83bc !important;">
                                    <h5 class="card-title Titulo" >Um pouco sobre Metodologia Agil</h5>
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="card-text Texto" style="color: black !important;" > A <strong>metodologia ágil</strong> A metodologia ágil é uma abordagem flexível e colaborativa para o desenvolvimento de projetos que
                                    enfatiza a entrega de valor contínua e a adaptação às mudanças ao longo do tempo. Ela se baseia em um
                                    conjunto de princípios e valores que valorizam as pessoas, a comunicação e a entrega eficiente de
                                    produtos ou serviços. O Manifesto Ágil, publicado em 2001 por um grupo de profissionais de software, é
                                    um documento chave que define esses princípios e valores.
                    
                                    Alguns dos benefícios da <strong>metodologia ágil</strong> incluem maior flexibilidade, maior envolvimento do cliente,
                                    entrega mais rápida de valor, maior qualidade e maior satisfação da equipe. No entanto, é importante
                                    notar que o sucesso com a <strong>metodologia ágil</strong> requer uma mudança cultural significativa nas organizações,
                                    juntamente com a adoção de práticas de colaboração e comunicação eficazes. Portanto, o método ágil é
                                    mais do que uma simples técnica de gerenciamento de projetos; é uma filosofia que pode transformar a
                                    forma como as equipes trabalham e entregam produtos e serviços.
                                </p>
                                </div>
                              </div>
                            </div>

                    </div>
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>

   

    
    <hr style="color: #181444; margin-top: 50px;">

        <span class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card card-custom" style="background-color: #3c83bc !important;">
                    <div class="d-flex justify-content-center align-items-center">
                    
                    
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="background-color: #3c83bc !important;">
                                    <h5 class="card-title Titulo" >O que é o Método Kanban?</h5>
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="card-text Texto" style="color: black !important;" > O <strong>Kanban</strong> é uma abordagem flexível que se adapta a uma ampla variedade de contextos. Ele é frequentemente
                                    utilizado em conjunto com outras metodologias ágeis, como o Scrum. No desenvolvimento de software, por
                                    exemplo, o Kanban é frequentemente usado para gerenciar o fluxo de trabalho de tarefas e histórias de
                                    usuário em uma equipe ágil. É uma ferramenta poderosa para visualizar o trabalho, melhorar a eficiência
                                    e reduzir desperdícios.
                                </p>
                                </div>
                              </div>
                            </div>

                    </div>
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>

    

    <hr style="color: #181444; margin-top: 50px;">

    <span class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="card card-custom" style="background-color: #3c83bc !important;">
                    <div class="d-flex justify-content-center align-items-center">
                    
                    
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne" style="background-color: #3c83bc !important;">
                                    <h5 class="card-title Titulo" >O que é o Método Lean?</h5>
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="card-text Texto" style="color: black !important;" > O <strong>Método Lean</strong>, também conhecido como Lean Thinking ou Lean Management, é uma abordagem de gestão e
                                    produção que se originou no setor de manufatura, especificamente na Toyota, no Japão, nas décadas de
                                    1950 e 1960. No entanto, ao longo do tempo, o Lean se expandiu para outras áreas, incluindo serviços,
                                    desenvolvimento de software e gerenciamento de projetos.
                                    O Lean tem sido aplicado com sucesso em várias indústrias e setores para melhorar a eficiência
                                    operacional, reduzir custos, aumentar a qualidade e a satisfação do cliente, e impulsionar a inovação.
                                    Embora o Lean tenha suas raízes na manufatura, seus princípios podem ser adaptados e aplicados de forma
                                    eficaz em muitos outros domínios, incluindo serviços, desenvolvimento de software e gerenciamento de
                                    projetos.
                                </p>
                                </div>
                              </div>
                            </div>

                    </div>
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>

    

   
    <hr style="color: #181444; margin-top: 50px;">

    <span class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card card-custom" style="background-color: #3c83bc !important;">
                    <div class="d-flex justify-content-center align-items-center">
                    
                    
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne" style="background-color: #3c83bc !important;">
                                    <h5 class="card-title Titulo" >O que é o Método Dynamic Systems Development?</h5>
                                </button>
                              </h2>
                              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="card-text Texto" style="color: black !important;" > O <strong>DSDM</strong> tem como objetivo entregar sistemas de alta qualidade que atendam às necessidades do cliente
                                  dentro de prazos e orçamentos definidos. Ele enfatiza a colaboração entre a equipe de desenvolvimento e
                                  os stakeholders do projeto, bem como a entrega frequente de funcionalidades.
                                  O DSDM é uma metodologia ágil que busca um equilíbrio entre flexibilidade e disciplina. Ela é
                                  particularmente adequada para projetos em que os requisitos podem mudar e evoluir ao longo do tempo,
                                  enquanto ainda mantém um foco rigoroso na entrega de valor ao cliente. Embora seja menos conhecida do
                                  que algumas outras metodologias ágeis, o DSDM é uma opção válida para equipes e organizações que desejam
                                  abordar o desenvolvimento de sistemas de maneira iterativa e colaborativa.
                                </p>
                                </div>
                              </div>
                            </div>

                    </div>
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>

    <hr style="color: #181444; margin-top: 50px;">

    <span class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="card card-custom" style="background-color: #3c83bc !important;">
                    <div class="d-flex justify-content-center align-items-center">
                    
                    
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne" style="background-color: #3c83bc !important;">
                                    <h5 class="card-title Titulo" >O que é o Método Feature Driven Development?</h5>
                                </button>
                              </h2>
                              <div id="collapseFive" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="card-text Texto" style="color: black !important;" > O <strong>Método Feature Driven Development (FDD)</strong> é uma metodologia de desenvolvimento de software ágil que se
                                    concentra na entrega incremental e iterativa de funcionalidades ou recursos (features) específicos do
                                    software. FDD é uma abordagem que se concentra na gestão eficaz do desenvolvimento, especialmente em
                                    projetos de grande escala e complexos.
                                    O FDD é especialmente adequado para projetos de desenvolvimento de software que envolvem grandes equipes
                                    de desenvolvedores e sistemas complexos. Ele enfatiza a entrega contínua de valor, a colaboração eficaz
                                    e a modelagem orientada a objetos como princípios fundamentais. Embora seja menos conhecido do que
                                    algumas outras metodologias ágeis, o FDD ainda é utilizado com sucesso em muitos contextos de
                                    desenvolvimento de software.
                                </p>
                                </div>
                              </div>
                            </div>

                    </div>
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </span>


    
</main>

{% endblock %}